
/* .text-style:hover {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgb(0, 140, 255);
  } */

.hidden {
  display:none;
}

.editor {
  /* width: 30em;
  height: 10em; */
  text-align: center;
  margin: auto;
}

/* .render-text :hover {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgb(0, 140, 255);
} */
