/**
 * CERN theme for reveal.js.
 * Author: Emmanuel Ormancey
 */
/* @import url(https://allfont.net/allfont.css?fonts=league-gothic); */
@import url(https://framework.web.cern.ch/framework/2.0/fonts/PTSansWeb/PTSansWeb.css);
/**
 * CERN Colors
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

.cern.reveal ul,
.cern.reveal ol {
  color: #cacaca; }

.cern.reveal ul ul,
.cern.reveal ol ol,
.cern.reveal ul ol,
.cern.reveal ol ul {
  color: #abacac; }

.cern.reveal ul ul ul,
.cern.reveal ol ol ol,
.cern.reveal ul ol ol,
.cern.reveal ul ol ul,
.cern.reveal ol ul ol,
.cern.reveal ol ul ul {
  color: #93a1a1; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/

.cern.reveal {
  background: #0053A1;
  background-color: #0053A1;
  font-family: "PT Sans", sans-serif !important;
  font-size: 32px;
  font-weight: normal;
  color: #93a1a1; }

::selection {
  color: #fff;
  background: #d33682;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #d33682;
  text-shadow: none; }

.cern.reveal .slides > section,
.cern.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.cern.reveal h1,
.cern.reveal h2,
.cern.reveal h3,
.cern.reveal h4,
.cern.reveal h5,
.cern.reveal h6 {
  margin: 0 0 20px 0;
  color: #eee8d5;
  font-family: "PT Sans", sans-serif !important;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.cern.reveal h1 {
  font-size: 3.77em; }

.cern.reveal h2 {
  font-size: 2.11em; }

.cern.reveal h3 {
  font-size: 1.55em; }

.cern.reveal h4 {
  font-size: 1em; }

.cern.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.cern.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.cern.reveal img,
.cern.reveal video,
.cern.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.cern.reveal strong,
.cern.reveal b {
  font-weight: bold; }

.cern.reveal em {
  font-style: italic; }

.cern.reveal ol,
.cern.reveal dl,
.cern.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.cern.reveal ol {
  list-style-type: decimal; }

.cern.reveal ul {
  list-style-type: disc; }

.cern.reveal ul ul {
  list-style-type: square; }

.cern.reveal ul ul ul {
  list-style-type: circle; }

.cern.reveal ul ul,
.cern.reveal ul ol,
.cern.reveal ol ol,
.cern.reveal ol ul {
  display: block;
  margin-left: 40px; }

.cern.reveal dt {
  font-weight: bold; }

.cern.reveal dd {
  margin-left: 40px; }

.cern.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.cern.reveal blockquote p:first-child,
.cern.reveal blockquote p:last-child {
  display: inline-block; }

.cern.reveal q {
  font-style: italic; }

.cern.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.cern.reveal code {
  font-family: monospace;
  text-transform: none; }

.cern.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.cern.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.cern.reveal table th {
  font-weight: bold; }

.cern.reveal table th,
.cern.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.cern.reveal table th[align="center"],
.cern.reveal table td[align="center"] {
  text-align: center; }

.cern.reveal table th[align="right"],
.cern.reveal table td[align="right"] {
  text-align: right; }

.cern.reveal table tbody tr:last-child th,
.cern.reveal table tbody tr:last-child td {
  border-bottom: none; }

.cern.reveal sup {
  vertical-align: super; }

.cern.reveal sub {
  vertical-align: sub; }

.cern.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.cern.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.cern.reveal a {
  color: #2299ee;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.cern.reveal a:hover {
  color: #81c5f5;
  text-shadow: none;
  border: none; }

.cern.reveal .roll span:after {
  color: #fff;
  background: #0e70b6; }

/*********************************************
 * IMAGES
 *********************************************/
.cern.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #93a1a1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.cern.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.cern.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.cern.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2299ee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.cern.reveal .controls {
  color: #2299ee; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.cern.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2299ee; }

.cern.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.cern.reveal h6 {
  color: orange; }
