.Container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.grid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ThemeSelector {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0053A1;
}

.ui.header.white {
  color: white;
}

.spacing {
  margin-bottom: 3em !important;
}

.spacing:last-child {
  margin-bottom: 0 !important;
}
