.slide-style {
    border-style: dotted;
    border-color: white;
    width: 1000px !important;
    height: 700px !important;
}

/*
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0;
    font-size: 30px;
    text-align: center;
  } */

/*
  <div class="grid-container">
 replay this for 120 times <div class="grid-item"/>
</div> */
