.deck {
  display:block;
  /* border-style: dotted;
  border-color: white; */
  width: 100%;
  height: 100%;
  position: relative;
  /* top: 10%;
  left: 5%; */
}

.canvas-parent {
  background-color: #0053A1;
}

.down {
  bottom: 0;
  position: absolute;
}

.center {
  position: absolute;
}

.text-box {
  padding-top: 5;
}

.editor-style {
  padding-top: 2em;
}
