.spacing {
  margin-bottom: 0.5em !important;
}

.grid {
  background-color: #0053A1 !important;
  /* height: 100vh; */
}

.ui.grid {
  margin: 0 !important;
}

.image {
  height: auto;
  max-height: 60em;
  width: 20%;
  max-width: 60em !important;
}

.landing-page {
  background-color: #0053A1 !important;
  height: 100%;
  width: 100%;
}
