.Container {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: inline-block;
}

.settings {
  position: relative;
  width: 3%;
  height: 100%;
  float: left;
  background-color: #1B1C1D;
}

.presentation {
  position: relative;
  width: 97%;
  height: 100%;
  float: right;
}

.ThemeSelector {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0053A1;
}

.ui.header.white {
  color: white;
}
