.grid {
  height: 100%;
  width: 100%;
  background-color: black;
  display: inline-block;
}

.sidebar {
  width: 6% !important;
  height: 100%;
  text-align: center;
}

.deck {
  width: 94% !important;
  height: 100%;
}

.ui.grid>.column:not(.row) {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ui.grid>.column:not(.row) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.down {
  bottom: 0;
  position: absolute;
}

.center {
  position: absolute;
}

.text-style:hover {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgb(0, 140, 255);
}

.text-box {
  padding-top: 5;
}

.editor-style {
  padding-top: 2em;
}
