.presentation {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 2em;
  color: white;
  display: flex;
  justify-content: center;
  background-color: black;
}

.down {
  bottom: 0;
  position: absolute;

}

.grid {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.center {
  position: absolute;
}

.text-style:hover {
  /* border: 'solid 1px blue'; */
  border-color: #66afe9;
  box-shadow: 0 0 8px rgb(0, 140, 255);
}
