.grid {
  height: 100%;
  width: 100%;
  background-color: black;
  display: inline-block;
}

.sidebar {
  position: relative;
  width: 5%;
  height: 100%;
  float: left;
  background-color: black;
}

.deck {
  position: relative;
  width: 95%;
  height: 100%;
  float: right;
}

.down {
  bottom: 0;
  position: absolute;
}

.center {
  position: absolute;
}

.text-style:hover {
  /* border: 'solid 1px blue'; */
  border-color: #66afe9;
  box-shadow: 0 0 8px rgb(0, 140, 255);
}
