
.item-style {
  /* max-width: 27em;
  min-width: 8em;
  min-height: 3em;
  max-height: 17em;
  display: block;
  overflow: auto; 
  margin: 0 auto; */
}
/* div {
  max-width: 100%;
  max-height: 100%;
} */
/* this ensures that image will be resized according to its div */
img {
  max-width: 100%;
  max-height: 100%;
}

.item-style:hover {
    /* border-color: #004883;
    box-shadow: 0 0 8px rgb(0, 79, 143); */
    border-color: #66afe9;
    box-shadow: 0 0 8px rgb(0, 140, 255);
  }

.item-style:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgb(0, 140, 255);
  }
