
.item-style {
  max-width: 23em;
  min-width: 8em;
  min-height: 3em;
  max-height: 15em;
  display: block;
  overflow: auto; 
  margin: 0 auto;
}

.item-style:hover {
    border-color: #004883;
    box-shadow: 0 0 8px rgb(0, 79, 143);
  }

.item-style:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgb(0, 140, 255);
  }
